[
    {
        "title": "IRCLog  1",
        "link": "https://dgplug.org/irclogs/2018/Logs-2018-01-03-13-24.txt",
        "date": "2018-01-03",
        "tags": ["2018", "1st class", "introduction"]
    },
    {
        "title": "IRCLog  1",
        "link": "https://dgplug.org/irclogs/2018/Logs-2018-01-03-13-24.txt",
        "date": "2018-01-03",
        "tags": ["2018", "1st class", "introduction"]
    },
    {
        "title": "IRCLog  1",
        "link": "https://dgplug.org/irclogs/2018/Logs-2018-01-03-13-24.txt",
        "date": "2018-01-03",
        "tags": ["2018", "1st class", "introduction"]
    },
    {
        "title": "IRCLog  1",
        "link": "https://dgplug.org/irclogs/2018/Logs-2018-01-03-13-24.txt",
        "date": "2018-01-03",
        "tags": ["2018", "1st class", "introduction"]
    }
]